.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ModalContentWrap {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}
